.base_btn {
    width: 100%;
    background:transparent;
    border:1px solid var(--primary-color);
    color:var(--primary-color);
    padding: 10px 5px;
    cursor: pointer;
    box-shadow: none;
    height:100%;
    transition:0.3s ease-out;
  }
  
  .base_btn:hover {
    background:var(--primary-color);
    color:var(--white-color);
  }