.base_btn {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 5px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    height:100%;
  }
  